html {
  font-size: 62.5%;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Header */

.header {
  padding: 1rem 9%;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.5rem 1.5rem rgb(80, 160, 80);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
}

.img-logo {
  max-width: 80px;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #30df15;
  margin-left: 2rem;
}
.header .navbar a:hover {
  color: #9d190b;
}

/* Home */

section {
  padding: 2rem 10%;
}
.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 3rem;
}
.home .image {
  flex: 1 1 45rem;
}
.home .image img {
  width: 500px;
}
.home .content {
  flex: 1 1 45rem;
}
.content h3 {
  font-size: 36px;
  line-height: 1.8;
}
.content p {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 900;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #34db39;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

.login {
  display: inline-block;
  padding: 5px 20px;
  margin-left: 10px;
  font-size: 15px;
  background-color: #2dcb35;
  border-radius: 20px;
  font-weight: 500;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}
.login:hover {
  transform: scale(1.1);
}

/* Footer */
.container-footer {
  flex-wrap: wrap;
  background-color: #30df15;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lista-footer {
  flex: 1;
  justify-content: center;
  display: flex;
}
.lista-footer ul li {
  font-size: 20px;
  list-style: none;
}
.lista-footer ul li a {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.898);
  font-weight: bold;
}

.image-footer {
  flex: 1;
  max-width: 50%;
  margin-left: 10%;
}
.img-footer {
  width: 300px;
  height: auto;
  display: block;
}
.text-footer {
  text-align: center;
  
  font-weight: 700;
  font-size: 16px;
  background-color: #30df15;
}

/* Responsividade  */

@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
  .header {
    display: flex;
    padding: 2rem;
    justify-content: center;
  }
  .img-logo {
    max-width: 40px;
  }
  .header .navbar a {
    font-size: 14px;
  }
  .home .image {
    display: none;
  }
  .image-footer {
    display: none;
  }
  .lista-footer {
    display: flex;
    justify-content: right;
    margin-right: 55px;
  }
  .lista-footer ul li a {
    font-size: 14px;
  }
  .text-footer{
    font-size: 14px;
  }
}
